{% extends "layouts/main.twig" %}


{% block title %} <title>Home</title>{% endblock %}


{% block content %}
    <h2 class="title">Products List</h2>

     <section class="products" id="products">

          <div class="action">
               <button class="add-btn"><a class="add-btn-anchor" href="add-product">ADD</a></button>
               <button class="mass-delete-btn" id="delete-product-btn" form="delete_form" type="submit">MASS DELETE</button>
          </div>
          <div class="content">
              <form class="content" id="delete_form" action="/" method="post">

                  {% for item in products %}
                      <div class="card">
                          <input class="delete-checkbox" type="checkbox" name="ids[]" value="{{ item.get('id') }}">
                          <div class="info">
                              <h3>{{ item.get('sku') }}</h3>
                              <h3>{{ item.get('name') }}</h3>
                              <h3>{{ item.get('price') }} $</h3>
                              {% for key, attribute in item.attributes %}
                                  {% if loop.first and attribute !=null %}
                                      <h3>{{key}}: {{attribute.value}} {{  attribute.unit}}</h3>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </div>

                  {% endfor %}
              </form>


          </div>
     </section>


{% endblock %}
